@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@600&display=swap");

:root {
  --body-color: #f3f4fd;
  --border-color: #dfe1f3;
  --red: rgb(255, 68, 68);
}

body {
  background-color: var(--body-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

p,
a {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.header {
  height: 80px;
}
.header-inner {
  border-bottom: solid 1px black;
  display: flex;
  /* grid-template-columns: auto auto auto; */
  justify-content: space-between;
  width: 90%;
  margin: 0 5% 0 5%;
  height: 100%;
}

.header-inner > div {
  height: 80px;
  display: flex;
  gap: 25px;
}

.header-inner a {
  color: black;
  align-self: center;
}

a {
  text-decoration: none;
  color: #636bff;
}

@media only screen and (max-width: 768px) {
  .header-midpoint {
    display: none !important;
  }
  .breathing {
    margin: 20px 5% 0 5%;
  }
}

@media only screen and (min-width: 769px) {
  .breathing {
    margin: 40px 10% 0 10%;
  }
}

.skel {
  /* background-color: var(--skel-color); */
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  /* background: linear-gradient(
    270deg,
    var(--skel-color) 25%,
    var(--body-color) 50%,
    var(--skel-color) 75%
  ); */
  animation: skelLite 1s linear infinite;
  background-size: 300% 300%;
}

@keyframes skelLite {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
